body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

main#camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#camera--view {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

#camera--output {
  width: 90%;
  max-width: 400px;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #70dbff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #70dbff;
}

/* Galeria das últimas fotos */
#gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

#gallery img.mini {
  width: 100px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}
